# Data Extraction
Cloning Data from Github \
To clone the Github Pulse repository use the following code \
Reference Syntax - Repo.clone_from("Clone Url", "Your working directory") \
Repo.clone_from("https://github.com/PhonePe/pulse.git", "Project_3_PhonepePulse/Phonepe_data/data")

In [ ]:
import git
repository_url = "https://github.com/PhonePe/pulse.git"
#Destination_directory.m-"C:/Users/INFO/Desktop/PHONE_PAY/data"
destination_directory = "D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse"
git.Repo.clone_from(repository_url, destination_directory)

# Importing Libraries

In [1]:
import os
import pandas as pd
import json
import mysql.connector
from mysql.connector import Error

In [57]:
def connect_to_mysql():
    conn = mysql.connector.connect(
    host='',
    user='',    
    password=''
    )
    cursor = conn.cursor()
    return 

# cursor=connect_to_mysql()

# cursor.execute("USE sgptrrzs_phonepe")
#     # a = cursor.execute("select * from Map_trans")
#     # print(a)

# Data transformations

Dataframe of aggregated Transactions

In [ ]:
#Transaction
path1="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/transaction/country/india/state/"
Agg_trans_list=os.listdir(path1)
# Agg_trans_list

In [ ]:
col_at = {'State':[],'Year':[],'Quarter':[],'Transaction_Type':[],'Transaction_count':[],'Transaction_amount':[]}
#Extractiing aggregated transactions
for i in Agg_trans_list:
    p_i=path1 + i + '/'   
    agg_yr=os.listdir(p_i)   
    
    for j in agg_yr:
        p_j=p_i + j + '/'
        agg_yr=os.listdir(p_j)
        
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            
            for x in D['data']['transactionData']:
                # print(x)
                Transaction_Type = x['name']
                Transaction_count = x['paymentInstruments'][0]['count']
                Transaction_amount = x['paymentInstruments'][0]['amount']
                
                col_at['State'].append(i)
                col_at['Year'].append(j)
                col_at['Quarter'].append(int(k.strip('.json')))
                col_at['Transaction_Type'].append(Transaction_Type)
                col_at['Transaction_count'].append(Transaction_count)
                col_at['Transaction_amount'].append(Transaction_amount)
                # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)

Aggr_trans = pd.DataFrame(col_at)
# Aggr_trans

In [ ]:
len(Aggr_trans['State'].unique())

In [ ]:
Aggr_trans.shape

Dataframe of aggregated user

In [ ]:
#User
path2="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/aggregated/user/country/india/state/"
Agg_user_list=os.listdir(path2)
# Agg_user_list

In [ ]:
col_au = {'State':[],'Year':[],'Quarter':[],'brand':[],'count':[],'percentage':[]}
#Extracting aggregated User
for i in Agg_user_list:
    p_i=path2 + i + '/'   
    agg_yr=os.listdir(p_i)   
    for j in agg_yr:
        p_j=p_i + j + '/'   
        agg_yr=os.listdir(p_j)
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            # print(D)
            try:
                for x in D['data']['usersByDevice']:
                    # print(x)
                    brand = x['brand']
                    count = x['count']
                    percentage = x['percentage']
                
                    col_au['State'].append(i)
                    col_au['Year'].append(j)
                    col_au['Quarter'].append(k.strip('.json'))
                    col_au['brand'].append(brand)
                    col_au['count'].append(count)
                    col_au['percentage'].append(percentage)
                    # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)
            except:
                pass


Aggr_user = pd.DataFrame(col_au)
# Aggr_user

In [ ]:
Aggr_user.shape

Dataframe of map transactions

In [4]:
#map/transaction
path3="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list=os.listdir(path3)
# map_trans_list

In [71]:
col_mt = {'State':[],'District':[],'Year':[],'Quarter':[],'Transaction_Type':[],'Transaction_count':[],'Transaction_amount':[]}
#Extractiing map transactions
for i in map_trans_list:
    p_i=path3 + i + '/'   
    agg_yr=os.listdir(p_i)   
    
    for j in agg_yr:
        p_j=p_i + j + '/'
        agg_yr=os.listdir(p_j)
        
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            
            for x in D['data']['hoverDataList']:
                # print(x)
                # print(x['name'].replace(' district',''))
                Transaction_Type = x['metric'][0]['type']
                Transaction_count = x['metric'][0]['count']
                Transaction_amount = x['metric'][0]['amount']
                District = x['name'].replace(' district','')

                col_mt['State'].append(i)
                col_mt['District'].append(District)
                col_mt['Year'].append(j)
                col_mt['Quarter'].append(k.strip('.json'))
                col_mt['Transaction_Type'].append(Transaction_Type)
                col_mt['Transaction_count'].append(Transaction_count)
                col_mt['Transaction_amount'].append(Transaction_amount)
                # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)

Map_trans = pd.DataFrame(col_mt)
Map_trans

,State,District,Year,Quarter,Transaction_Type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,north and middle andaman,2018,1,TOTAL,442,9.316631e+05
1,andaman-&-nicobar-islands,south andaman,2018,1,TOTAL,5688,1.256025e+07
2,andaman-&-nicobar-islands,nicobars,2018,1,TOTAL,528,1.139849e+06
3,andaman-&-nicobar-islands,north and middle andaman,2018,2,TOTAL,825,1.317863e+06
4,andaman-&-nicobar-islands,south andaman,2018,2,TOTAL,9395,2.394824e+07
...,...,...,...,...,...,...,...
18291,west-bengal,nadia,2024,1,TOTAL,42154481,7.903014e+10
18292,west-bengal,birbhum,2024,1,TOTAL,24812300,4.640025e+10
18293,west-bengal,purba medinipur,2024,1,TOTAL,46212626,9.237355e+10
18294,west-bengal,maldah,2024,1,TOTAL,42299563,7.671603e+10
18295,west-bengal,darjiling,2024,1,TOTAL,18129044,2.927784e+10

In [78]:
import mysql.connector
from mysql.connector import Error
import pandas as pd  # Ensure you have pandas imported

def connect_to_mysql():
    """Establish a connection to the MySQL database."""
    try:
        connection = mysql.connector.connect(
            host='199.79.63.133',
            user='sgptrrzs_phonepe',
            password='G3EJxwK42zmYFuzrBQrhBQz'
        )
        return connection
    except Error as e:
        print(f"Error: {e}")
        return None

def create_map_trans_table(Map_trans):
    connection = connect_to_mysql()
    if connection is None:
        print("Failed to connect to the database.")
        return
    
    try:
        cursor = connection.cursor()
        
        # Use the database
        cursor.execute("USE sgptrrzs_phonepe")
        
        # Create table if it does not exist
        create_Map_trans = '''
        CREATE TABLE IF NOT EXISTS Map_trans (
            slno BIGINT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            State VARCHAR(100),
            District VARCHAR(100),
            Year INT,
            Quarter INT,
            Transaction_Type VARCHAR(100),
            Transaction_count INT,
            Transaction_amount DOUBLE
        )
        '''
        cursor.execute(create_Map_trans)
        
        # Insert data into the table
        insert_Map_trans = '''
        INSERT IGNORE INTO Map_trans (
            State, District, Year, Quarter, Transaction_Type, Transaction_count, Transaction_amount
        ) VALUES (%s, %s, %s, %s, %s, %s, %s)
        '''
        
        # Prepare data for insertion
        for i, row in Map_trans.iterrows():
            print(tuple(row))
            cursor.execute(insert_Map_trans, tuple(row))

        # Commit changes
        connection.commit()
        
        print("Table created and data inserted successfully.")
    
    except Error as e:
        print(f"Error while creating table or inserting data: {e}")
    
    finally:
        if cursor:
            cursor.close()
        if connection.is_connected():
            connection.close()
            print("MySQL connection is closed")

In [76]:
# Creating map_trans table
connect_to_mysql()
create_Map_trans='''create table if not exists Map_trans (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),District varchar(100),Year int,Quarter int,Transaction_Type varchar(100),Transaction_count int,Transaction_amount double)'''
cursor.execute(create_Map_trans)
conn.commit()
cursor.close()
conn.close()

AttributeError: 'NoneType' object has no attribute 'execute'

In [52]:
for i,row in Map_trans.iterrows():
    insert_Map_trans = "INSERT IGNORE into Map_trans (State,Year,Quarter,Transaction_Type,Transaction_count,Transaction_amount) values (%s,%s,%s,%s,%s,%s)"
    # print(insert_Map_trans)
    cursor.execute(insert_Map_trans,tuple(row))
    conn.commit()
cursor.close()
conn.close()

InternalError: Unread result found

Dataframe of map transactions

In [ ]:
#map/user
path4="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path4)
# map_user_list

In [ ]:
col_mu = {'State':[],'Year':[],'Quarter':[],'district':[],'registeredUsers':[],'appOpens':[]}
#Extractiing map transactions
for i in map_user_list:    
    p_i=path4 + i + '/'   
    agg_yr=os.listdir(p_i)   
    
    for j in agg_yr:        
        p_j=p_i + j + '/'
        agg_yr=os.listdir(p_j)
        
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            for x in D['data']['hoverData'].items():                                
                district = x[0]
                registeredUsers = x[1]['registeredUsers']
                appOpens = x[1]['appOpens']             
                
                col_mu['State'].append(i)
                col_mu['Year'].append(j)
                col_mu['Quarter'].append(k.strip('.json'))
                col_mu['district'].append(district)
                col_mu['registeredUsers'].append(registeredUsers)
                col_mu['appOpens'].append(appOpens)
                # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)

Map_users = pd.DataFrame(col_mu)
# Map_users

Dataframe of top transactions

In [ ]:
#top/transactions
path5="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/transaction/country/india/state/"
top_trans_list=os.listdir(path5)
# top_trans_list

In [ ]:
col_tt = {'State':[],'Year':[],'Quarter':[],'pincode':[],'Transaction_Type':[],'Transaction_count':[],'Transaction_amount':[]}
#Extractiing top/transactions
for i in top_trans_list:    
    p_i=path5 + i + '/'   
    agg_yr=os.listdir(p_i)   
    
    for j in agg_yr:        
        p_j=p_i + j + '/'
        agg_yr=os.listdir(p_j)
        
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            for x in D['data']['pincodes']: 
                # print(x['metric']['type'])                               
                pincode = x['entityName']
                Transaction_Type = x['metric']['type']
                Transaction_count = x['metric']['count']
                Transaction_amount = x['metric']['amount']
                
                col_tt['State'].append(i)
                col_tt['Year'].append(j)
                col_tt['Quarter'].append(k.strip('.json'))
                col_tt['pincode'].append(pincode)
                col_tt['Transaction_Type'].append(Transaction_Type)
                col_tt['Transaction_count'].append(Transaction_count)
                col_tt['Transaction_amount'].append(Transaction_amount)
                # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)

top_trans = pd.DataFrame(col_tt)
# top_trans

Dataframe of top users

In [ ]:
#top/users
path6="D:/DataScience/Phonepe_Pulse_Data_Visualization_and_Exploration/pulse/data/top/user/country/india/state/"
top_users_list=os.listdir(path6)
# top_users_list

In [ ]:
col_tu = {'State':[],'Year':[],'Quarter':[],'pincode':[],'registeredUsers':[]}
#Extractiing top/users
for i in top_users_list:    
    p_i=path6 + i + '/'   
    agg_yr=os.listdir(p_i)   
    
    for j in agg_yr:        
        p_j=p_i + j + '/'
        agg_yr=os.listdir(p_j)
        
        for k in agg_yr:
            p_k = p_j + k          
            data = open(p_k,'r')
            D=json.load(data)
            for x in D['data']['pincodes']: 
                pincode = x['name']
                registeredUsers = x['registeredUsers']
                col_tu['State'].append(i)
                col_tu['Year'].append(j)
                col_tu['Quarter'].append(k.strip('.json'))
                col_tu['pincode'].append(pincode)
                col_tu['registeredUsers'].append(registeredUsers)
                 # print(i,j,k,Transaction_Type,Transaction_count,Transaction_amount)

top_users = pd.DataFrame(col_tu)
# top_users

In [ ]:
#Establish connection
# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="Fiitjee@123",
#     # database="phonepe_pulse"
# )

In [79]:
# # MySQL connection details
# conn = mysql.connector.connect(
#     'host': '199.79.63.133',
#     'database': 'sgptrrzs_phonepe',
#     'user': 'sgptrrzs_phonepe',
#     'password': 'G3EJxwK42zmYFuzrBQrhBQz'
# )

conn = mysql.connector.connect(
    host='199.79.63.133',
    user='sgptrrzs_phonepe',    
    password='G3EJxwK42zmYFuzrBQrhBQz' 
)

if conn.is_connected():
    # print("Successfully connected to the database")

    # Create a cursor object
    cursor = conn.cursor()

    # Create a new database if it does not exist
    cursor.execute("CREATE DATABASE IF NOT EXISTS sgptrrzs_phonepe")

    # Switch to 'phonepe_pulse' database
    cursor.execute("USE sgptrrzs_phonepe")

    # print("Database switched to 'sgptrrzs_phonepe'")

Creating Aggr_trans table

In [ ]:
create_Aggr_trans='''create table if not exists Aggr_trans (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,Transaction_Type varchar(100),Transaction_count int,Transaction_amount double)'''
cursor.execute(create_Aggr_trans)
conn.commit()

Creating agg_user table

In [ ]:
create_Aggr_user='''create table if not exists Aggr_user (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,brand varchar(100),count int,percentage double)'''
cursor.execute(create_Aggr_user)
conn.commit()

Creating map_trans table

In [ ]:
create_Map_trans='''create table if not exists Map_trans (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,Transaction_Type varchar(100),Transaction_count int,Transaction_amount double)'''
cursor.execute(create_Map_trans)
conn.commit()

In [80]:
for i,row in Map_trans.iterrows():
    insert_Map_trans = "INSERT IGNORE into Map_trans (State,District,Year,Quarter,Transaction_Type,Transaction_count,Transaction_amount) values (%s,%s,%s,%s,%s,%s,%s)"
    # print(insert_Map_trans)
    cursor.execute(insert_Map_trans,tuple(row))
    conn.commit()

OperationalError: 2055: Lost connection to MySQL server at '199.79.63.133:3306', system error: 10060 A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond

Creating map_user table

In [ ]:
create_Map_user='''create table if not exists Map_user (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,district varchar(100),registeredUsers int,appOpens int)'''
cursor.execute(create_Map_user)
conn.commit()

Creating top_trans table

In [ ]:
create_top_trans='''create table if not exists top_trans (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,pincode int,Transaction_Type varchar(100),Transaction_count int,Transaction_amount double)'''
cursor.execute(create_top_trans)
conn.commit()

Creating top_user table

In [ ]:
create_top_users='''create table if not exists top_users (slno bigint NOT NULL AUTO_INCREMENT primary key,State varchar(100),Year int,Quarter int,pincode int,registeredUsers int)'''
cursor.execute(create_top_users)
conn.commit()

List of tables

In [ ]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print(tables)